{% extends '::base.html.twig' %}

{% block body %}

	<div id="main" class="fondo">
		<h2 class="error" style="font-size: 2em !important;">NO HAY DISPONIBILIDAD DE TICKETS PARA EL DIA DE HOY.</h2>
		<br><br>
	</div> 

{% endblock %}